<section>
  <div class="page-header">
    <h1>
      CIE-10
      <a class="btn btn-primary pull-right" data-ui-sref="admin.articles.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group col-md-6">
    <a data-ng-repeat="article in vm.articles" data-ui-sref="admin.articles.edit({articleId: article._id})" class="list-group-item">
 
      <h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
      <p class="list-group-item-text" data-ng-bind="article.descripcion"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
    No existen CIE-10, desea crear uno? <a data-ui-sref="admin.articles.create">create one</a>?
  </div>
</section>
