<!--section>
  <div class="page-header">
    <h1>{{vm.calendario._id ? 'Edit Calendario' : 'New Calendario'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.calendarioForm" class="form-horizontal" ng-submit="vm.save(vm.form.calendarioForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.calendario.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.calendarioForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Calendario name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.calendario._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  </section>-->


<div class="modal-header">
  <h3 class="modal-title">Nueva Cita</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2"><strong>Nombre : </strong></div>
        <div class="col-md-9" ng-bind="vm.fullName"></div>
      </div>
      <hr/>
    </div>
  </div>
  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Titulo</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Motivo</th>
        <th>Paciente</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <textarea class="form-control" rows="6" ng-model="vm.cita.title"> </textarea>
        </td>
        <td>
          <input class="form-control" colorpicker type="text" ng-model="vm.cita.color.primary">
        </td>
        <td>
          <input class="form-control" colorpicker type="text" ng-model="vm.cita.color.secondary">
        </td>
        <td>
          <p class="input-group" style="max-width: 250px">
            <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="vm.cita.startsAt" is-open="vm.cita.startOpen"
              close-text="Close">
              <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'startOpen', vm.cita)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div uib-timepicker ng-model="vm.cita.startsAt" hour-step="1" minute-step="15" show-meridian="true">
          </div>
        </td>
        <td>
          <p class="input-group" style="max-width: 250px">
            <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="vm.cita.endsAt" is-open="vm.cita.endOpen"
              close-text="Close">
              <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'endOpen', vm.cita)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div uib-timepicker ng-model="vm.cita.endsAt" hour-step="1" minute-step="15" show-meridian="true">
          </div>
        </td>
        <td>
          <textarea class="form-control" rows="6" ng-model="vm.cita.title"> </textarea>
        </td>
        <td>
          <p><button class="btn btn-info" ng-click="vm.openTable()">Buscar Paciente</button></p>
          <p><input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()"
            /></p>
      </tr>
    </tbody>

  </table>
  <div ng-show="vm.showTable">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="paciente in vm.pagedItems">
          <td>{{paciente.name}} {{paciente.lastName}}</td>
          <td>{{paciente.dni}}</td>
          <td>{{paciente.phone}}</td>
          <td>{{paciente.email}}</td>
          <td><button class="btn btn-info" ng-click="vm.selectRow(paciente)">Seleccionar</button></td>
          <!--<td>{{paciente.user.displayName}}</td>-->
        </tr>
      </tbody>
    </table>
    <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
      ng-change="vm.pageChanged()"></uib-pagination>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.save()">OK</button>
</div>