<section>
  <div class="modal-header bg-primary">
        <h3 class="modal-title">Pacientes <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.close()">&times;</button></h3>
        <div class="col-md-8" style="margin-top: 2em; padding-left: 0px ;">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
  </div>
  <div class="modal-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Create on</th>
        <th>ok</th>
      </tr>
    </thead>  
     <tbody ng-if="!vm.type">
      <tr ng-repeat="paciente in vm.pagedItems">
        <td>{{paciente.name}} {{paciente.lastName}}</td>
        <td>{{paciente.dni}}</td>
        <td>{{paciente.phone}}</td>
        <td>{{paciente.email}}</td>
        <td>{{paciente.created | date:'mediumDate' }}</td>
        <td><button class="btn btn-info" ng-click="vm.selectRow(paciente)">Sel</button></td>
      </tr>    
    </tbody>
  </table>
  <div class="alert alert-warning text-center" ng-if="vm.pacientes.$resolved && !vm.pacientes.length">
    No Pacientes yet, why don't you <a ui-sref="paciente.create">create one</a>?
  </div>
   <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">Close</button>
    </div>
</section>

