<!--<section>
  <div class="page-header">
    <h1>Calendarios</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="calendario in vm.calendarios"
       ui-sref="calendarios.view({ calendarioId: calendario._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="calendario.created | date:'mediumDate'"></span>
        by
        <span ng-if="calendario.user" ng-bind="calendario.user.displayName"></span>
        <span ng-if="!calendario.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="calendario.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.calendarios.$resolved && !vm.calendarios.length">
    No Calendarios yet, why don't you <a ui-sref="calendarios.create">create one</a>?
  </div>
</section>-->
<style>
 @media(min-width: 1400px){
    .my-modal > .modal-lg {
        width: 1308px;
    }
}
.blue   { background-color: #0459ff; }
.cyan   { background-color: Cyan; }
.green  { background-color: #0afc31; }
.orange { background-color: Orange; }
.pink   { background-color: Pink; }
.purple { background-color: Purple; }
.red    { background-color: #ff000f; }
  </style>
  <body>
  <h2 class="text-center">{{ vm.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
      </div>
    </div>

  </div>

  <br>

  <mwl-calendar
    events="vm.calendarios"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="vm.cellIsOpen"
    day-view-start="9:00"
    day-view-end="21:59"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)"
    cell-auto-open-disabled="true"
    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
    
  </mwl-calendar>

  <br><br>

  <h3 id="event-editor">
    <div class="modal-footer">
    <button
      class="btn btn-primary"
      ng-click="vm.addEvent()">
      <span class="glyphicon glyphicon-plus"></span>
      Nueva Cita
    </button>
    <button
      class="btn btn-info"
      ng-click="vm.addEvent()">
      <span class="glyphicon glyphicon-plus"></span>
      Cita Externa
    </button>
    </div>
    <div class="clearfix"></div>
  </h3>
