
 <!--     <div class="modal-header">
        <h3 class="modal-title">Event action occurred!</h3>
      </div>
      <div class="modal-body">
        <p>Action:
        <pre>{{ vm.action }}</pre>
        </p>
        <p>Paciente:
          <hr/>
          <div class="form-group">
          <label class="control-label">Nombre : </label>&nbsp;{{vm.event.paciente.name}}&nbsp;{{vm.event.paciente.lastName}}        
        </div>
         <div class="form-group">
          <label class="control-label">Dni : </label>&nbsp;{{vm.event.paciente.dni}}        
        </div>
         <div class="form-group">
          <label class="control-label">Teléfono : </label>&nbsp;{{vm.event.paciente.phone}}        
        </div>
         <div class="form-group">
          <label class="control-label">Email : </label>&nbsp;{{vm.event.paciente.email}}        
        </div>
         <div class="form-group">
          <label class="control-label">Fecha : </label><input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="vm.event.startsAt">        
        </div>
         <div class="form-group">
          <label class="control-label">Hora : </label>
          <div uib-timepicker ng-model="vm.event.startsAt" show-meridian="true" ng-disabled="true" show-spinners="false"></div>       
        </div>

        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">OK</button>
      </div>-->
      <style>
      .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: aliceblue;
      }
      </style>
        <div class="modal-header bg-primary">
        <h3 class="modal-title">Detalle de la cita</h3>
      </div>
      <div class="modal-body">
      <div class="row">
    
      <form class="form-horizontal modal-body" role="form">
        <fieldset>
          <!-- Form Name -->
          <legend class="col-sm-12">Paciente</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Nombre:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="vm.event.paciente.fullname" disabled>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">DNI:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="vm.event.paciente.dni" disabled>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Teléfono:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="vm.event.paciente.phone" disabled>
            </div>
          </div>

           <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Email:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="vm.event.paciente.email" disabled>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Fecha:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="vm.event.startsAt">
            </div>

            <label class="col-sm-1 control-label" for="textinput">Hora:</label>
            <div class="col-sm-3">
              <div uib-timepicker ng-model="vm.event.startsAt" show-meridian="true" ng-disabled="true" show-spinners="false"></div>
            </div>
          </div>



          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Motivo:</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="4" ng-model="vm.event.description" disabled></textarea>
            </div>
          </div>


        </fieldset>
      </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
  <div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="$close()">OK</button>
    </div>
      </div>