<section>
    <div class="page-header">
      <div class="pull-left" style="padding-left: 0px">
          <md-button class="md-fab md-mini md-primary" aria-label="Menu" ng-mouseover="vm.toggleLeft()" ng-hide="vm.isOpenLeft()" data-toggle="tooltip" title="Nuevo Paciente">
              <i class="glyphicon glyphicon-menu-hamburger"></i>
          </md-button>
      </div>
      <br />
      <h1 style="text-align: center">{{vm.enableHomePag ? ' ' : Reportes}}</h1>
    </div>
    <div class="modal-body">
      <div class="col-sm-10 col-md-offset-1" ng-show="vm.enableHomePag">
          <div  flex>

              <md-toolbar layout="row" class="md-hue-1">
                  <div layout="row">
                      <md-toolbar-filler layout="row" layout-align="center center">
                          <i class="fa fa-address-book fa-2x"></i>
                      </md-toolbar-filler>
                      <h2 style="background-color:rgb(121, 134, 203) ">
                        <span>Citas del día</span>
                      </h2>
                    </div>
              </md-toolbar>
          
              <md-content>
                <md-list flex>
                  <md-subheader class="md-no-sticky">{{vm.meetDay.length}} cita(s) para el día</md-subheader>
                  <md-list-item class="md-3-line" ng-repeat="item in vm.meetDay" ng-click="vm.doPrimaryAction(item)">
                      <i class="fa fa-user fa-2x md-avatar"></i>
                    <div class="md-list-item-text" layout="column">
                      <h3>{{ item.paciente.name }} {{item.paciente.lastName}}</h3>
                      <div>
                      <h4>{{ item.paciente.dni}}</h4>
                      </div> 
                      <div class="md-secondary">
                      <h4>Hora: {{ item.startsAt | date : 'hh:mm a'}}</h4>
                      </div>
                      <p>{{ item.description }}</p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
          
      </div>
      <div class="col-sm-10 col-md-offset-1 reports-view">
        <div ui-view></div>
        <br /><br /><br />
      </div>
      
    </div>

    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">

        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools" md-autofocus>Menú Reportes</h1>
        </md-toolbar>
        <md-content layout-padding>
          <form>
              <nav>
                  <ul class="nav nav-pills nav-stacked">
                    <li ui-sref-active="active" id="barras">
                      <a ui-sref="home.barras" ng-click="vm.closeNavMod()">Reporte Barras</a>
                    </li>
                    <li ui-sref-active="active" id="pastel">
                      <a ui-sref="home.pastel" ng-click="vm.closeNavMod()">Reporte Pastel</a>
                    </li>
                    <li ui-sref-active="active" id="crecimiento">
                        <a ui-sref="home.line" ng-click="vm.closeNavMod()">Reporte de Crecimiento</a>
                      </li>
                  </ul>
                </nav>
          </form>
          <md-button ng-click="vm.closeNav()" class="md-primary">
            Cerrar
          </md-button>
        </md-content>
  
      </md-sidenav>
  
  </section>