<!--<br /><br /><br /><br /><br />
     <div class="container">   
          <div class="row placeholders">
            <div class="col-xs-8 col-sm-4 placeholder">
              <div class="chart" easypiechart options="vm.options1" percent="vm.percent1">52%</div>
              <h4>Día</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-8 col-sm-4 placeholder">
              <div easypiechart options="vm.options2" percent="vm.percent2"></div>
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-8 col-sm-4 placeholder">
              <div easypiechart options="vm.options3" percent="vm.percent3"></div>
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
         
          </div>
     </div>-->
