<section>
  <div class="page-header">
    <h1>{{vm.pacientes._id ? 'Editar Paciente' : 'Nuevo Paciente'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.pacienteForm" ng-submit="vm.save(vm.form.pacienteForm.$valid)" novalidate>
      <fieldset>
        <!--   <div class="form-group" show-errors>
          <label class="control-label" for="dni">Dni: </label>
          <input name="dni" type="text" ng-model="vm.pacientes.dni" id="dni" class="form-control" placeholder="Dni" required>
          <div ng-messages="vm.form.pacienteForm.dni.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Apellido es Requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nombre</label>
          <input name="name" type="text" ng-model="vm.pacientes.name" id="name" class="form-control" placeholder="Nombre" required>
          <div ng-messages="vm.form.pacienteForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Paciente name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="lastName">Apellido</label>
          <input name="lastName" type="text" ng-model="vm.pacientes.lastName" id="lastName" class="form-control" placeholder="Apellido"
            required>
          <div ng-messages="vm.form.pacienteForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Apellido es Requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Email</label>
          <input name="email" type="text" ng-model="vm.pacientes.email" id="email" class="form-control" placeholder="Email" required>
          <div ng-messages="vm.form.pacienteForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email es Requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Teléfono</label>
          <input name="phone" type="text" ng-model="vm.pacientes.phone" id="phone" class="form-control" placeholder="Telefono" required>
          <div ng-messages="vm.form.pacienteForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Teléfono es Requerido.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Especialidad:</label>
          <select class="form-control" ng-model="vm.pacientes.estado">
            <option value="No Asignado">No Asignado</option>
            <option value="Podologia">Podologia</option>
            <option value="Ozono">Ozono</option>
            <option value="Vitamina C">Vitamina C</option>
          </select>
        </div>-->
        <!-- -->
        <div class="form-group">
          <label for="dni" class="h4">Dni</label>
          <input name="dni" type="text" class="form-control" ng-model="vm.pacientes.dni" id="dni" placeholder="Dni" required>
          <div ng-messages="vm.form.pacienteForm.dni.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Dni es Requerido.</p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="name" class="h4">Nombre</label>
            <input name="name" type="text" class="form-control" ng-model="vm.pacientes.name" id="name" placeholder="Nombre" required>
            <div ng-messages="vm.form.pacienteForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Nombre de Paciente es requiredo.</p>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label for="email" class="h4">Apellidos</label>
            <input name="lastName" type="text" class="form-control" ng-model="vm.pacientes.lastName" id="email" placeholder="Apellidos"
              required>
            <div ng-messages="vm.form.pacienteForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Apellido es Requerido.</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dni" class="h4">Dirección</label>
          <input name="direccion" type="text" class="form-control" ng-model="vm.pacientes.direccion" id="direccion" placeholder="Dirección" required>
          <div ng-messages="vm.form.pacienteForm.direccion.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Dni es Requerido.</p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="email" class="h4">Edad</label>
            <input type="number" class="form-control" id="edad" placeholder="Edad" ng-model="vm.pacientes.edad" required>
          </div>
          <div class="form-group col-sm-6">
            <label for="phone" class="h4">Teléfono</label>
            <input name="phone" type="text" class="form-control" ng-model="vm.pacientes.phone" id="phone" placeholder="Teléfono" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="ocupacion" class="h4">Ocupación</label>
            <input type="text" class="form-control" id="ocupacion" placeholder="Ocupación" ng-model="vm.pacientes.ocupacion" required>
          </div>
          <div class="form-group col-sm-6">
            <label for="procedencia" class="h4">Procedencia</label>
            <input type="text" class="form-control" id="procedencia" placeholder="Procedencia" ng-model="vm.pacientes.procedencia" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="h4 ">Email</label>
          <input type="email" class="form-control" ng-model="vm.pacientes.email" id="email" placeholder="Email" required>
          <!--<textarea id="message" class="form-control" rows="5" placeholder="Enter your message" required></textarea>-->
        </div>
        </br>
        <!-- -->
        <div class="form-group">
          <button type="submit" class="btn btn-success pull-right">{{vm.pacientes._id ? 'Update' : 'Crear'}}</button>
          </br>
          </br>
          </br>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>