<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Pacientes</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Buscar..." ng-change="vm.figureOutItemsToDisplay()"
        />
      </div>
      <div class="col-md-4" style="margin-top: 2em">
      <a class="btn btn-primary pull-right" data-ui-sref="paciente.create" data-toggle="tooltip" title="Agregar Paciente">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <a href="#" ng-click="vm.sortType = 'name'; vm.sortReverse = !vm.sortReverse">
            Nombre 
            <span ng-show="vm.sortType == 'name' && !vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="vm.sortType == 'name' && vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
          </a>
            </th>
            <th>
               <a href="#" ng-click="vm.sortType = 'dni'; vm.sortReverse = !vm.sortReverse">
            DNI 
            <span ng-show="vm.sortType == 'dni' && !vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="vm.sortType == 'dni' && vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
          </a>
            </th>
            <th>
               <a href="#" ng-click="vm.sortType = 'phone'; vm.sortReverse = !vm.sortReverse">
            Telefóno
            <span ng-show="vm.sortType == 'phone' && !vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="vm.sortType == 'phone' && vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
          </a>
            </th>
            <th>
               <a href="#" ng-click="vm.sortType = 'email'; vm.sortReverse = !vm.sortReverse">
            Email 
            <span ng-show="vm.sortType == 'email' && !vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="vm.sortType == 'email' && vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
          </a>
            </th>
            <th>
               <a href="#" ng-click="vm.sortType = 'created'; vm.sortReverse = !vm.sortReverse">
            F. Creación 
            <span ng-show="vm.sortType == 'created' && !vm.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="vm.sortType == 'created' && vm.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
          </a>
            </th>
            <th>Historia Clínica</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="paciente in vm.pagedItems | orderBy:vm.sortType:vm.sortReverse" ui-sref="paciente.view({ pacienteId: paciente._id })">
            <td>{{paciente.name}} {{paciente.lastName}}</td>
            <td>{{paciente.dni}}</td>
            <td>{{paciente.phone}}</td>
            <td>{{paciente.email}}</td>
            <td>{{paciente.created | date:'mediumDate' }}</td>
            <td>{{paciente.estado}}</td>
            <!--<td>{{paciente.user.displayName}}</td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.pacientes.$resolved && !vm.pacientes.length">
    No Pacientes yet, why don't you <a ui-sref="paciente.create">create one</a>?
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
    ng-change="vm.pageChanged()"></uib-pagination>
</section>