<section>
  <form name="vm.form.historiaclinicaform">
  <div class="page-header">
    <!--<h1>{{vm.historiaclinica._id ? 'Edit Historiaclinica' : 'New Historiaclinica'}}</h1>-->
    <center>
      <div class="row">
        <div class="col-md-4">
          <label class="control-label">
            <strong>
              <h4>FICHA CLÍNICA PODOLÓGICA N° : </h4>
            </strong>
          </label>
        </div>
        <div class="col-sm-2" ng-class="{ 'has-error': vm.form.historiaclinicaform.numeroHC.$dirty && vm.form.historiaclinicaform.numeroHC.$invalid }">
          <input type="text" class="form-control has-feedback" id="numeroHC" name="numeroHC" ng-model="vm.historiaclinica.numeroHC" ng-disabled="vm.historiaclinica._id ? 'true' : false" 
          maxlength="8" ng-maxlength="8" data-toggle="tooltip" title="{{vm.form.historiaclinicaform.numeroHC.$valid ? '' : 'Número de historia clínica requerido'}}" 
          tooltip-trigger="focus" tooltip-placement="bottom" required/>
          <span class="glyphicon glyphicon-ok-sign text-success form-control-feedback" aria-hidden="true"
          ng-show="vm.form.historiaclinicaform.numeroHC.$valid"></span>
        </div>
        <div class="pull-right">
          <div class="row">
            <div class="col-md-4">
              <label class="control-label">
                <strong>
                  <h4>FECHA : </h4>
                </strong>
              </label>
            </div>
            <div class="col-md-8">
              <p class="input-group" style="max-width: 250px">
                <input type="text" class="form-control" readonly uib-datepicker-popup="dd/MM/yy" ng-model="vm.historiaclinica.fechaCreated"
                  is-open="vm.historiaclinica.startOpen" close-text="Close">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="vm.toggle($event, 'startOpen', vm.historiaclinica)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
              <!--  <input type="date" class="form-control" ng-model="vm.historiaclinica.fechaCreated"/> -->
            </div>
          </div>
        </div>
      </div>
    </center>
  </div>

  <div class="container" ng-init="selectedTab = 1;">
    <div class="row">
      <div class="process">
        <div class="process-row nav nav-tabs">
          <div class="process-step" ng-class="{active: selectedTab == 1}">
            <button type="button" class="btn btn-primary btn-circle" data-toggle="tab" ng-click="selectedTab = 1;" ng-class="{'btn-primary': selectedTab == 1, 'btn-default': selectedTab != 1}">
              <i class="glyphicon glyphicon-user glyphicon-3x"></i>
            </button>
            <p>
              <h5>FILIACIÓN</h5>
            </p>
          </div>
          <div class="process-step" ng-class="{active: selectedTab == 2}">
            <button type="button" class="btn btn-default btn-circle" data-toggle="tab" ng-click="selectedTab = 2;" ng-class="{'btn-primary': selectedTab == 2, 'btn-default': selectedTab != 2}">
              <i class="glyphicon glyphicon-list-alt"></i>
            </button>
            <p>
              <h5>ANAMNESIS</h5>
            </p>
          </div>
          <div class="process-step" ng-class="{active: selectedTab == 3}">
            <button type="button" class="btn btn-default btn-circle" data-toggle="tab" ng-click="selectedTab = 3;" ng-class="{'btn-primary': selectedTab == 3, 'btn-default': selectedTab != 3}">
              <i class="glyphicon glyphicon-briefcase"></i>
            </button>
            <p>
              <h5>EXAMEN FÍSICO/
                <br />CLÍNICO EEII</h5>
            </p>
          </div>
          <div class="process-step" ng-class="{active: selectedTab == 6}">
            <button type="button" class="btn btn-default btn-circle" data-toggle="tab" ng-click="selectedTab = 6;" ng-class="{'btn-primary': selectedTab == 6, 'btn-default': selectedTab != 6}">
              <i class="glyphicon glyphicon-camera"></i>
            </button>
            <p>
              <h5>FOTOS</h5>
            </p>
          </div>
          <div class="process-step" ng-class="{active: selectedTab == 4}">
            <button type="button" class="btn btn-default btn-circle" data-toggle="tab" ng-click="selectedTab = 4;" ng-class="{'btn-primary': selectedTab == 4, 'btn-default': selectedTab != 4}">
              <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
            <p>
              <h5>DIAGNÓSTICO</h5>
            </p>
          </div>
          <div class="process-step" ng-class="{active: selectedTab == 5}">
            <button type="button" class="btn btn-default btn-circle" data-toggle="tab" ng-click="selectedTab = 5;" ng-class="{'btn-primary': selectedTab == 5, 'btn-default': selectedTab != 5}">
              <i class="glyphicon glyphicon-heart-empty"></i>
            </button>
            <p>
              <h5>TERAPEUTICA
                <br />PODOLÓGICA</h5>
            </p>
          </div>
        </div>
      </div>
      <br />

      <div class="container">
        <div class="tab-content">
          <div id="menu1" class="tab-content" ng-show="selectedTab == 1">
            <div class="pull-left">
              <h4>
                <strong>I.- FILIACIÓN</strong>
              </h4>
            </div>
            <div class="pull-right">
              <md-button class="md-fab md-mini md-primary" aria-label="Buscar Paciente" ng-click="vm.openModalPaciente()" data-toggle="tooltip" title="Buscar Paciente" ng-show=vm.showbuttonPaciente>
                  <i class="glyphicon glyphicon-search"></i>
              </md-button>
              <md-button class="md-fab md-mini md-primary" aria-label="Nuevo Paciente" ui-sref="paciente.create" data-toggle="tooltip" title="Nuevo Paciente" ng-show=vm.showbuttonPaciente>
                  <i class="glyphicon glyphicon-plus"></i>
              </md-button>
              <md-button class="md-fab md-mini md-primary" aria-label="Estado" ng-click="vm.toggleRight()" ng-hide="vm.isOpenRight()">
                  <i class="glyphicon glyphicon-menu-hamburger"></i>
              </md-button>
            </div>
            <br />
            <br />
            <br />
            <br />
            <ul>                    
                <div layout-gt-xs="row">
                   <md-input-container class="md-icon-float md-block" flex-gt-xs>
                      <label>Apellidos y Nombres</label>
                          <md-icon md-svg-src="/modules/historiaclinicas/client/img/images/ic_person_24px.svg" class="name"></md-icon>
                            <input ng-model="vm.fullName" type="text" style="color:black" disabled>
                          </md-input-container>
                          <div flex="5" hide-xs hide-sm>
                              <!-- Spacer //-->
                            </div>
                    <md-input-container>
                      <label>Edad</label>
                         <md-icon md-svg-src="/modules/historiaclinicas/client/img/images/ic_perm_identity_24px.svg" class="name" ></md-icon>
                            <input ng-model="vm.historiaclinica.paciente.edad" type="number" style="color:black" disabled>
                          </md-input-container>
                </div>
                                                     
                <div layout-gt-xs="row">
                        <md-input-container class="md-icon-float md-block" flex-gt-xs>
                          <label>Dirección</label>
                          <md-icon md-svg-src="/modules/historiaclinicas/client/img/images/ic_place_24px.svg" class="place" ></md-icon>
                          <input ng-model="vm.historiaclinica.paciente.direccion" type="text" style="color:black" disabled>
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm>
                            <!-- Spacer //-->
                          </div>
                        <md-input-container>
                          <label>Sexo</label>
                          <md-icon md-svg-src="/modules/historiaclinicas/client/img/images/ic_wc_24px.svg" class="name" ></md-icon>
                          <input ng-model="vm.sexo" type="text" style="color:black" disabled>
                        </md-input-container>
                </div>                                               
                <div layout-gt-sm="row">

                        <md-input-container class="md-block" flex-gt-sm>
                          <label>DNI</label>
                          <md-icon md-svg-src="/modules/historiaclinicas/client/img/images/ic_account_box_24px.svg" class="place" ></md-icon>
                          <input name="dni" style="color:black" ng-model="vm.historiaclinica.paciente.dni" disabled/>                                              
                        </md-input-container>
                
                        <div flex="5" hide-xs hide-sm>
                          <!-- Spacer //-->
                        </div>
                
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Ocupación</label>
                          <md-icon md-svg-src="/modules/historiaclinicas/client/img/images/ic_work_24px.svg" class="place" ></md-icon>
                          <input name="ocupacion" style="color:black" ng-model="vm.historiaclinica.paciente.ocupacion" disabled/>                                                      
                        </md-input-container>
                </div>                                       
                <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Teléfono</label>
                          <md-icon md-svg-src="/modules/historiaclinicas/client/img/images/ic_local_phone_24px.svg" class="place" ></md-icon>
                          <input name="phono" style="color:black" ng-model="vm.historiaclinica.paciente.phone" disabled/>                                              
                        </md-input-container>
                
                        <div flex="5" hide-xs hide-sm>
                          <!-- Spacer //-->
                        </div>
                
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Procedencia</label>
                          <md-icon md-svg-src="/modules/historiaclinicas/client/img/images/ic_person_pin_circle_24px.svg" class="place" ></md-icon>
                          <input name="ocupacion" style="color:black" ng-model="vm.historiaclinica.paciente.procedencia" disabled/>                                                      
                        </md-input-container>
                </div>                           
            </ul>
            <br /> <br /> <br />
        
      <!--      <ul>
                <div class="form-group">
                  <div class="row">
                    <li>                    
                      <div class="col-sm-2">
                        <label class="control-label">Apellidos y Nombres: </label>
                      </div>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="vm.fullName" ng-disabled="true" />
                      </div>
                      <div class="col-sm-1">
                        <label class="control-label">Edad: </label>
                      </div>
                      <div class="col-sm-2">
                        <input type="number" class="form-control" ng-model="vm.historiaclinica.paciente.edad" ng-disabled="true" />
                      </div>
                    </li>
                  </div>
                </div>
                <br/>
                <div class="form-group">
                  <div class="row">
                    <li>
                      <div class="col-sm-2">
                        <label class="control-label">Dirección: </label>
                      </div>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="vm.historiaclinica.paciente.direccion" ng-disabled="true" />
                      </div>
                      <div class="col-sm-1">
                        <label class="control-label">Sexo: </label>
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="vm.sexo" ng-disabled="true" />
                      </div>
                    </li>
                  </div>
                </div>
                <br />
                <div class="form-group">
                  <div class="row">
                    <li>
                      <div class="col-sm-2">
                        <label class="control-label">DNI: </label>
                      </div>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="vm.historiaclinica.paciente.dni" ng-disabled="true" />
                      </div>
                      <div class="col-sm-1">
                        <label class="control-label">Fono: </label>
                      </div>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="vm.historiaclinica.paciente.phone" ng-disabled="true" />
                      </div>
                    </li>
                  </div>
                </div>
                <br />
                <div class="form-group">
                  <div class="row">
                    <li>
                      <div class="col-sm-2">
                        <label class="control-label">Ocupación: </label>
                      </div>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="vm.historiaclinica.paciente.ocupacion" ng-disabled="true" />
                      </div>
                      <div class="col-sm-1">
                        <label class="control-label">Procedencia: </label>
                      </div>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="vm.historiaclinica.paciente.procedencia" ng-disabled="true" />
                      </div>
                    </li>
                  </div>
                </div>
              </ul> -->
            <ul class="list-unstyled list-inline pull-right">
              <li>
                <button type="button" class="btn btn-info next-step" ng-click="selectedTab = 2;">Next
                  <i class="fa fa-chevron-right"></i>
                </button>
              </li>
            </ul>
          </div>

          <div id="menu2" class="tab-content" ng-show="selectedTab == 2">
            <div class="pull-left">
              <h4>
                <strong>II.- ANAMNESIS</strong>
              </h4>
            </div>
            <br />
            <br />
            <br />
            <br />
            <ul>
              <div class="form-group">             
                <div class="row">
                  <li>
                    <div class="col-sm-2">
                      <label class="control-label">Motivo de la Consulta: </label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model="vm.historiaclinica.motivo" />
                    </div>
                  </li>
                </div>
              </div>
              <br/>
              <div class="form-group">
                <div class="row">
                  <li>
                    <div class="col-sm-2">
                      <label class="control-label">Antecedentes: </label>
                    </div>
                    <div class="col-sm-10">
                      <textarea type="text" class="form-control" rows="5" ng-model="vm.historiaclinica.antecedentes"></textarea>
                    </div>
                  </li>
                </div>
              </div>
              <br />
              <div class="form-group">
                <div class="row">
                  <li>
                    <div class="col-sm-2">
                      <label class="control-label">Tiempo de la Enfermedad: </label>
                    </div>
                    <div class="col-sm-10">
                      <textarea type="text" class="form-control" rows="3" ng-model="vm.historiaclinica.tiempoEnf"></textarea>
                    </div>
                  </li>
                </div>
              </div>
              <br />
            </ul>
            <ul class="list-unstyled list-inline pull-right">
              <li>
                <button type="button" class="btn btn-default prev-step" ng-click="selectedTab = 1;">
                  <i class="fa fa-chevron-left"></i> Back</button>
              </li>
              <li>
                <button type="button" class="btn btn-info next-step" ng-click="selectedTab = 3;">Next
                  <i class="fa fa-chevron-right"></i>
                </button>
              </li>
            </ul>
          </div>
          <div id="menu3" class="tab-content" ng-show="selectedTab == 3">
            <div class="pull-left">
              <h4>
                <strong>III.- EXAMEN FÍSICO/CLÍNICO EEII</strong>
              </h4>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="form-group">
              <div class="row">
                <div class="col-sm-2">
                  <label class="control-label">Estatura </label>
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.estatura" />
                </div>
                <div class="col-sm-1">
                  <label class="control-label">Peso: </label>
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.peso" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-2">
                  <label class="control-label">
                    <u>
                      <i>Exploración Vascular</i>
                    </u>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-1">
                  <label class="control-label">Pulso Pedio:</label>
                </div>
                <div class="col-sm-1">
                  <label class="control-label">P/D:</label>
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.PulsoPePD" />
                </div>
                <div class="col-sm-1">
                  <label class="control-label">P/I:</label>
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.PulsoPePI" />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-1">
                  <label class="control-label">Pulso Pedio TP:</label>
                </div>
                <div class="col-sm-1">
                  <label class="control-label">P/D:</label>
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.PtpPD" />
                </div>
                <div class="col-sm-1">
                  <label class="control-label">P/I:</label>
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.PtpPI" />
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <div class="row">
                <div class="col-sm-2">
                  <label class="control-label">Color Piel: </label>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="vm.historiaclinica.ColorPiel" />
                </div>
                <div class="col-sm-1">
                  <label class="control-label">T°: </label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" ng-model="vm.historiaclinica.temperatura" />
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <div class="row">
                <div class="col-sm-2">
                  <label class="control-label">AVP: </label>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" ng-model="vm.historiaclinica.AVP" />
                </div>
                <div class="col-sm-1">
                  <label class="control-label">TA T/B:</label>
                </div>
                <div class="col-sm-1">
                  <label class="control-label">P/D: </label>
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.TatbPD" />
                </div>
                <div class="col-sm-1">
                  <label class="control-label">P/I: </label>
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.TatbPI" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label class="control-label">
                    <u>
                      <i>Exploración neurovascular EII</i>
                    </u>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-2">
                  <label class="control-label">Sencib. Dolorosa: </label>
                </div>
                <div class="col-sm-4">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.SencibDol" />
                </div>
                <div class="col-sm-2">
                  <label class="control-label">Sencib. Táctil: </label>
                </div>
                <div class="col-sm-4">
                  <input type="number" class="form-control" ng-model="vm.historiaclinica.SencibTactil" />
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <div class="row">
                <div class="col-sm-2">
                  <label class="control-label">Reflejo cutaneo plantar: </label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="vm.historiaclinica.ReflejCutPla" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <label class="control-label">
                    <u>
                      <i>Exploración osteoarticular EII</i>
                    </u>
                  </label>
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <textarea class="form-control col-sm-12" rows="4" ng-model="vm.historiaclinica.ExplOsteo"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <label class="control-label">
                    <u>
                      <i>Lesiones dermatológicas/podológicas</i>
                    </u>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-2">
                  <label class="control-label">P/D: </label>
                </div>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" rows="2" ng-model="vm.historiaclinica.LesionesDermaPD"></textarea>
                </div>
                <br />
                <br />
                <br />
                <br />
                <div class="col-sm-2">
                  <label class="control-label">P/I: </label>
                </div>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" rows="2" ng-model="vm.historiaclinica.LedionesDermaPI"></textarea>
                </div>
              </div>
            </div>
            <br />
            <ul class="list-unstyled list-inline pull-right">
              <li>
                <button type="button" class="btn btn-default prev-step" ng-click="selectedTab = 2;">
                  <i class="fa fa-chevron-left"></i> Back</button>
              </li>
              <li>
                <button type="button" class="btn btn-info next-step" ng-click="selectedTab = 6;">Next
                  <i class="fa fa-chevron-right"></i>
                </button>
              </li>
            </ul>
          </div>

          <!-- *****FOTOS***** -->
          <div id="menu6" class="tab-content" ng-show="selectedTab == 6">

            <div class="container">

                <h2>Image Gallery
                    <div class="pull-right">
                        <a class="btn btn-primary" ng-click="vm.showDeleteImg()" data-toggle="tooltip" title="Editar">
                          <i class="glyphicon glyphicon-edit"></i> Editar
                        </a>
                        <button class="btn btn-primary btn-file" data-toggle="tooltip" ngf-select="vm.loading = false" 
                                ng-model="vm.picFileAdd" title="Nuevo Paciente" accept="image/*"  ngf-resize="{width: 1024}" ngf-resize-if="$width > 1024 || $height > 1024"
                                ngf-before-model-change="vm.beforeChange($files)" multiple>
                          <i class="glyphicon glyphicon-plus"></i> Agregar
                        </button>
                      </div>
                </h2>
                <br /><br />
                <div class="row">
                    <div ng-repeat="file in vm.picFile">
                        <div class="col-md-3">
                            <div class="thumbnail" ng-click="vm.getFile(file)">
                        <img ngf-src="vm.fileSelected && !vm.historiaclinica._id ? file : file.fileImageURL"  alt="Lights" style="width:100%"
                          ngf-drop>
                          </div>
                          <div ng-show="vm.showDeleteImage" class="text-center form-group">
                              <a class="btn btn-danger" ng-click="vm.deleteImage(file)">
                                  <i class="glyphicon glyphicon-remove"></i> Borrar Imagen</a>
                            </div>
                        </div>
                      </div></div>
                      <br /><br />
                      <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4">
                          <form class="signin form-horizontal">
                            <fieldset>
                      <div ng-show="vm.loading" class="form-group text-center">
                          <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
                        </div>
                        <div ng-show="!vm.fileSelected" class="text-center form-group">
                          <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="vm.picFile"
                            accept="image/*"  ngf-resize="{width: 1024}" ngf-resize-if="$width > 1024 || $height > 1024"
                            multiple>Seleccionar Fotos</button>
                        </div>
                        <div ng-show="vm.fileSelected" class="text-center form-group">
                          <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
                        </div>
                        <div ng-show="vm.fileSelected" class="progress text-center">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
                            <span class="sr-only">{{vm.progress}}% Complete</span>
                          </div>
                        </div>
                        </fieldset></form></div>      
              <!--    <div class="col-md-2">
                    <div class="thumbnail">
                      <a href="/w3images/lights.jpg" target="_blank">
                        <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg" alt="Lights" style="width:100%">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="thumbnail">
                      <a href="/w3images/nature.jpg" target="_blank">
                        <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg" alt="Nature" style="width:100%">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="thumbnail">
                      <a href="/w3images/fjords.jpg" target="_blank">
                        <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg" alt="Fjords" style="width:100%">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-2">
                      <div class="thumbnail">
                        <a href="/w3images/fjords.jpg" target="_blank">
                          <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg" alt="Fjords" style="width:100%">
                        </a>
                      </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumbnail">
                          <a href="/w3images/lights.jpg" target="_blank">
                            <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg" alt="Lights" style="width:100%">
                          </a>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="thumbnail">
                          <a href="/w3images/nature.jpg" target="_blank">
                            <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg" alt="Nature" style="width:100%">
                          </a>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="thumbnail">
                          <a href="/w3images/fjords.jpg" target="_blank">
                            <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg" alt="Fjords" style="width:100%">
                          </a>
                        </div>
                      </div>
                      <div class="col-md-2">
                          <div class="thumbnail">
                            <a href="/w3images/fjords.jpg" target="_blank">
                              <img src="http://farm9.staticflickr.com/8457/7918424412_bb641455c7_b.jpg" alt="Fjords" style="width:100%">
                            </a>
                          </div>
                        </div>-->
                </div>
            
            <br /><br /><br />
            <div ng-show="vm.showVisor">
            <ng-pintura ngp-src="vm.picFileSelect.fileImageURL"
            ngp-scaling="vm.picFileSelect.scaling"
            ngp-position="vm.picFileSelect.position"
            ngp-max-scaling="vm.picFileSelect.maxScaling"
            ngp-scale-step="vm.picFileSelect.scaleStep"
            ngp-move-step="vm.picFileSelect.moveStep"
            ngp-fit-onload="vm.picFileSelect.fitOnload" 
            ngp-mw-scale-step="vm.picFileSelect.mwScaleStep"
            ngp-progress="vm.picFileSelect.progress">
            <div id="zoomslider">
              <input ng-model="slider.value" ng-change="sliderChange()" orient="vertical" type="range" min="0" max="100" step="1" ng-disabled="scalingDisabled">
          </div>  
          <button id="zoomin" ng-click="zoomIn()" ng-disabled="scalingDisabled" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-plus"></span></button>
          <button id="zoomout" ng-click="zoomOut()" ng-disabled="scalingDisabled" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-minus"></span></button>
          <button id="moveup" ng-click="moveUp()" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-chevron-up"></span></button>
          <button id="movedown" ng-click="moveDown()" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-chevron-down"></span></button>
          <button id="moveleft" ng-click="moveLeft()" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-chevron-left"></span></button>
          <button id="moveright" ng-click="moveRight()" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-chevron-right"></span></button>
          <button id="movecenter" ng-click="fitInView()" class="btn btn-default"><span class="glyphicon glyphicon-screenshot"></span></button>       
          </ng-pintura></div>
            <br />

            <ul class="list-unstyled list-inline pull-right">
                <li>
                    <button type="button" class="btn btn-default prev-step" ng-click="selectedTab = 3;">
                      <i class="fa fa-chevron-left"></i> Back</button>
                  </li>
              <li>
                <button type="button" class="btn btn-info next-step" ng-click="selectedTab = 4;">Next
                  <i class="fa fa-chevron-right"></i>
                </button>
              </li>
            </ul>
          </div>

          <!-- ///////////////////// -->

          <div id="menu4" class="tab-content" ng-show="selectedTab == 4">
            <br />
            <br />
            <div class="container">
            <div layout="row">
                <md-input-container flex="80">
                  <h4><label>DIAGNOSTIVO PRESUNTIVO</label></h4>
                  <textarea required name="diagPresuntivo" ng-model="vm.historiaclinica.diagPresuantivo" md-maxlength="150" rows="2" md-select-on-focus maxlength="150"> </textarea>
                  <div ng-messages="vm.form.historiaclinicaform.diagPresuntivo.$error">
                      <div ng-message="required">Diagnóstico es requerido.</div>
                    </div>               
                </md-input-container>
                <div flex="5" hide-xs hide-sm>
                    <!-- Spacer //-->
                  </div>
                <md-input-container flex="30">
                    <h4><label>CIE-10</label></h4>
                  <md-select name="cie10presuntivo" ng-model="vm.ci10diagpresuantivo._id" required>
                    <md-option ng-repeat="x in vm.cie10presuntivo" value="{{x._id}}">{{x.descripcion}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
          
              <md-input-container class="md-block">
                  <h4><label>EX AUXILIARES</label></h4>
                  <textarea ng-model="vm.historiaclinica.ExamAux" rows="2"></textarea>
                </md-input-container>

              <div layout="row">
                    <md-input-container flex="80">
                        <h4><label>DIAGNOSTIVO DEFINITIVO</label></h4>
                      <textarea required name="diagDefinitivo" ng-model="vm.historiaclinica.diagDefinitivo" md-maxlength="150" rows="2" md-select-on-focus maxlength="150"> </textarea>
                      <div ng-messages="vm.form.historiaclinicaform.diagDefinitivo.$error">
                          <div ng-message="required">Diagnóstico es requerido.</div>
                        </div>               
                    </md-input-container>
                    <div flex="5" hide-xs hide-sm>
                        <!-- Spacer //-->
                      </div>
                    <md-input-container flex="30">
                        <h4><label>CIE-10</label></h4>
                      <md-select name="cie10definitivo" ng-model="vm.ci10diagdefinitivo._id" required>
                        <md-option ng-repeat="x in vm.cie10presuntivo" value="{{x._id}}">{{x.descripcion}}</md-option>
                      </md-select>
                    </md-input-container>
              </div>
            </div>
            <br />
            <br />
            <ul class="list-unstyled list-inline pull-right">
              <li>
                <button type="button" class="btn btn-default prev-step" ng-click="selectedTab = 6;">
                  <i class="fa fa-chevron-left"></i> Back</button>
              </li>
              <li>
                <button type="button" class="btn btn-info next-step" ng-click="selectedTab = 5;">Next
                  <i class="fa fa-chevron-right"></i>
                </button>
              </li>
            </ul>
          </div>
          <div id="menu5" class="tab-content" ng-show="selectedTab == 5">
            <div class="pull-left">
              <h4>
                <strong>VI.- TERAPEUTICA PODOLÓGICA</strong>
              </h4>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="form-group">
              <div class="row">
                <div ng-show="vm.historiaclinica._id">
                  <small>
                      <em class="text-muted">
                        Fecha: 
                        <span ng-bind="vm.historiaclinica.created | date:'fullDate'"></span>
                      </em>
                    </small>
                  </div>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" rows="4" ng-model="vm.historiaclinica.TerapeuticaPodo" ng-disabled="vm.disabledivTerapeutica"></textarea>
                </div>
                <div class="pull-right">
                    <md-button class="md-fab md-mini md-primary" aria-label="Editar" ng-click="vm.activeDivTerapeutica()" ng-show="vm.disableButtonTera">
                        <md-tooltip md-direction="bottom">Editar</md-tooltip>
                        <i class="glyphicon glyphicon-edit"></i>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary" aria-label="Nueva Terapia Podológica" ng-click="vm.addDiv()" ng-show="vm.disableButtonTera2">
                        <md-tooltip md-direction="bottom">Nueva Terapia Podológica</md-tooltip>
                        <i class="glyphicon glyphicon-plus"></i>
                    </md-button>
                </div>
              </div>
            </div>
            <div ng-repeat="terapeutica in vm.terapeuticaPodologica" ng-if=vm.historiaclinica._id>
            <div class="form-group">
              <div class="row">
                  <small>
                      <em class="text-muted">
                        Fecha: 
                        <span ng-bind="terapeutica.fecha | date:'fullDate'"></span>
                      </em>
                    </small>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" rows="4" ng-model="terapeutica.descripcion" ng-disabled="vm.disabledivTerapeutica"></textarea>
                </div>
              </div>
            </div>
          </div>
            <div id="parent1">          
          </div>
            <br />
            <br />
            <div class="pull-left">
              <h4>
                <strong>VII.- INDICACIONES, DERIVACIONES Y PRÓXIMA CITA</strong>
              </h4>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="form-group">
              <div class="row">
                  <div ng-show="vm.historiaclinica._id">
                      <small>
                          <em class="text-muted">
                            Fecha: 
                            <span ng-bind="vm.historiaclinica.created | date:'fullDate'"></span>
                          </em>
                        </small>
                      </div>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" rows="4" ng-model="vm.historiaclinica.IndicacionesDeriv" ng-disabled="vm.disabledivIndicaciones"></textarea>
                </div>
                <div class="pull-right">
                    <md-button class="md-fab md-mini md-primary" aria-label="Editar" ng-click="vm.activeDivIndicaciones()" ng-show="vm.disableButtonIndi">
                        <md-tooltip md-direction="bottom">Editar</md-tooltip> 
                      <i class="glyphicon glyphicon-edit"></i>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary" aria-label="Nueva Indicación" ng-click="vm.addDivIndicaciones()" ng-show="vm.disableButtonIndi2">
                        <md-tooltip md-direction="bottom">Nueva Indicación</md-tooltip>  
                      <i class="glyphicon glyphicon-plus"></i>
                    </md-button>
                </div>
              </div>
            </div>
            <div ng-repeat="indicaciones in vm.indicacionesDerv" ng-if=vm.historiaclinica._id>
                <div class="form-group">
                  <div class="row">
                      <small>
                          <em class="text-muted">
                            Fecha: 
                            <span ng-bind="indicaciones.fecha | date:'fullDate'"></span>
                          </em>
                        </small>
                    <div class="col-sm-10">
                      <textarea type="text" class="form-control" rows="4" ng-model="indicaciones.descripcion" ng-disabled="vm.activeDivIndicaciones"></textarea>
                    </div>
                  </div>
                </div>
              </div>
                <div id="parent2">          
              </div>
            <br />
            <br />
 
            <ul class="list-unstyled list-inline pull-right">
              <li>
                <button type="button" class="btn btn-default prev-step" ng-click="selectedTab = 4;">
                  <i class="fa fa-chevron-left"></i> Back</button>
              </li>
              <li>
                <button type="submit" class="btn btn-success" ng-click="vm.save(vm.form.historiaclinicaform.$valid)">
                  <i class="fa fa-check"></i> Done!</button>
              </li>
              <br /><br />
              <div ng-show="vm.fileSelected" class="progress text-center">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%"
                  ng-bind="vm.progress + '%'">
                  <span class="sr-only">{{vm.progress}}% Complete</span>
                </div>
              </div> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br /><br />

  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools" md-autofocus>Estado del Paciente</h1>
      </md-toolbar>
      <md-content layout-padding>
          <p style="font-size:.8em;color: green;width: 100%">
              Elige el estado del paciente, el color del registro cambiará dependiendo del estado:<br />
              *En Espera: "Sin Color", <br />
              *Curado:    "Verde", <br />
             *No Curado: "Rojo"
          </p>
        <form>
            <md-radio-group ng-model="vm.historiaclinica.estadoPaciente">

                <md-radio-button ng-repeat="x in vm.estadosPaciente" value={{x.value}} class="md-primary">{{x.desc}}</md-radio-button>

              </md-radio-group>
        </form>
        <md-button ng-click="vm.save(vm.form.historiaclinicaform.$valid)" class="md-primary">
          Actualizar
          </md-button>
        <md-button ng-click="vm.closeNav()" class="md-primary">
          Cerrar
        </md-button>
      </md-content>

    </md-sidenav>

  <!--<div class="form-group">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4">
      <form class="signin form-horizontal">
        <fieldset>
          <div class="form-group text-center">
            <div class="col-sm-12">
              <div ng-repeat="file in vm.picFile">
                <img ngf-src="vm.fileSelected ? file : vm.fotoHistoria.fileImageURL" alt="{{vm.fotoHistoria.displayName}}" class="img-thumbnail"
                  ngf-drop>
              </div>
            </div>
          </div>
          <div ng-show="vm.loading" class="form-group text-center">
            <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
          </div>
          <div ng-show="!vm.fileSelected" class="text-center form-group">
            <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="vm.picFile"
              accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400"
              multiple>Select Picture</button>
          </div>
          <div ng-show="vm.fileSelected" class="text-center form-group">
            <button class="btn btn-primary" ng-click="vm.upload(vm.picFile)">Use This Picture</button>
            <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
          </div>
          <div ng-show="vm.fileSelected" class="progress text-center">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%"
              ng-bind="vm.progress + '%'">
              <span class="sr-only">{{vm.progress}}% Complete</span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>-->
<!--<div class="container sliderCar">

  <img ng-repeat="file in vm.picFile" class="slideCar" ng-swipe-right="vm.showPrev()" ng-swipe-left="vm.showNext()" ng-show="vm.isActive($index)" ng-src="{{vm.fileSelected ? file : file.fileImageURL}}" />
 
  <a class="arrow prev" href="#" ng-click="vm.showPrev()"></a>
  <a class="arrow next" href="#" ng-click="vm.showNext()"></a>
  
  <ul class="navCar">
      <li ng-repeat="file in vm.picFile" ng-class="{'active': vm.isActive($index)}">
          <img ng-src="{{vm.fileSelected ? file : file.fileImageURL}}" alt="" title="" ng-click="vm.showPhoto($index);" />
      </li>
  </ul>
</div>-->

<br /><br />
</form>
</section>